<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome -Lab 10</title>
  
   @* <link rel="stylesheet" href="~/App_Themes/images/">*@
</head>
<body>

    <div id="content" class="container">
      
        <script type="text/javascript" src="/Scripts/React/jquery-2.2.4.min.js"></script>
        <script type="text/javascript" src="/Scripts/React/bootstrap.min.js"></script>
        <script src="/Scripts/React/react.js"></script>
        <script src="/Scripts/React/react-dom.js"></script>
        <script src="/Scripts/Lab10.jsx"></script>
    </div>
</body>
</html>